# Core
APP_NAME=UpiPlanet
DESCRIPTION=Red social tematica planetaria morado blanco
ENVIRONMENT=dev
API_PORT=8160
INTERNAL_APP_KEY=3fa9048be84741d49fb6a718e3e0ce80
SENTRY_DSN=https://47036b8f72bfdf2c741b2d173838827c@o4511147272568832.ingest.us.sentry.io/4511148836454400
SENTRY_TRACES_SAMPLE_RATE=1.0

# Redis Especializado (Bases Lógicas 0, 1, 2)
REDIS_CACHE_URL=redis://localhost:8163/0
REDIS_PUBSUB_URL=redis://localhost:8163/1
REDIS_QUEUE_URL=redis://localhost:8163/2

# SQL DB (PostgreSQL via PgBouncer)
DATABASE_URL_DEV=postgresql+asyncpg://admin:password123@localhost:8162/saas_db
DATABASE_URL_PROD=
