# Core
APP_NAME=StockLink
DESCRIPTION=Inventario multi-tenant generalista con barcode/QR/NFC + asistencias por QR
ENVIRONMENT=dev
API_PORT=8090
INTERNAL_APP_KEY=3017939b68cc40ad9be36be9df1e3416
SENTRY_DSN=https://47036b8f72bfdf2c741b2d173838827c@o4511147272568832.ingest.us.sentry.io/4511148836454400
SENTRY_TRACES_SAMPLE_RATE=1.0

# Redis Especializado (Bases Lógicas 0, 1, 2)
REDIS_CACHE_URL=redis://localhost:8093/0
REDIS_PUBSUB_URL=redis://localhost:8093/1
REDIS_QUEUE_URL=redis://localhost:8093/2

# SQL DB (PostgreSQL via PgBouncer)
DATABASE_URL_DEV=postgresql+asyncpg://admin:password123@localhost:8092/saas_db
DATABASE_URL_PROD=
